.tile {
  border: 1px solid white;
  min-width: 100px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  cursor: pointer;
}

.tile:hover {
  background-color: yellow;
}

.player-x {
  color: #09c372;
}

.player-o {
  color: #498afb;
}
